.main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}

.formClass{
    width: 30%;
    
    margin: 5px;
}
.cardClass{
    height: 100%;
    width: 60%;
    margin: 5px;
}